<h3>
    <%= @category.name %>
</h3>
<div id="isale-tags-box">
    <%= render partial: 'tag', collection: @category.tags, locals: {category_id: params[:category_id]} %>
</div>
<%= render 'form', tag: @tag %>
