<% content_for :tools do %>
    <div class="btn-group mr-2">
        <%=link_icon "plus-square", t('Add'), new_product_path %>
    </div>

    <div class="btn-group mr-2">
        <%=link_icon "archive", t('.product_archives'), products_path(hidden: true) %>
    </div>
<% end %>

<%= render 'table' %>
