<% content_for :tools do %>
    <%=link_icon "edit", t("Edit"), edit_product_path(@product) %>
<% end %>
<h3>
    <%= @product.name %>
</h3>

<h4>
    <%= render @product.tags %>
</h4>

<div>
    <%= @product.content %>
</div>
