<!DOCTYPE html>
<html>
<head>
  <title>Isale</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "isale/application", media: "all" %>
</head>
<body>
    <h1>hihi</h1>
<%= yield %>

</body>
</html>
