<% content_for :tools do %>
    <%=link_icon "plus-square", t('Add'), new_contry_path %>
<% end %>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @contries.each do |contry| %>
      <tr>
          <td><%= link_to contry.name, contry %></td>
      </tr>
    <% end %>
  </tbody>
</table>
